<section class="ml-2 mt-4 max-sm:mt-2">
	<h1 class="text-center justify-center text-7xl font-sans font-extrabold">Sign In</h1>
	<form class="example-form justify-center items-center"
	      [formGroup]="loginForm"
	      (ngSubmit)="onSubmit()"
	      *ngIf="!(loading$ | async)">
		<mat-form-field class="example-full-width">
			<mat-label>Email </mat-label>
			<input matInput
			       class="md:max-w-2xl"
			       placeholder="pat@example.com"
			       formControlName="email"
			       required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" required>
		</mat-form-field>

		<button [disabled]="loginForm.invalid" type="submit"
		        class="group relative flex w-full justify-center rounded-md border border-transparent py-2 bg-blue-500 hover:bg-blue-700 disabled:bg-blue-100 cursor-pointer disabled:cursor-auto text-white">
			Login
		</button>
	</form>
	<div class="text-center my-4">
		<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>
	</div>
</section>