<section class="mt-4">
	<div class="justify-center items-center">
		<mat-form-field>
			<mat-label>Search</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="" #input>
		</mat-form-field>
	</div>

	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
				<td mat-cell *matCellDef="let row"> {{ row['id'] }}</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
				<td mat-cell *matCellDef="let row"> {{ row['name'] }}</td>
			</ng-container>

			<ng-container matColumnDef="duration">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Duration</th>
				<td mat-cell *matCellDef="let row"> {{ row['duration'] | number }}</td>
			</ng-container>

			<ng-container matColumnDef="calories">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Calories</th>
				<td mat-cell *matCellDef="let row"> {{ row['calories'] | number }}</td>
			</ng-container>

			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
				<td mat-cell *matCellDef="let row"> {{ row['date'] | date: 'medium' }}</td>
			</ng-container>

			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
				<td mat-cell *matCellDef="let row"> {{ row['state'] }}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">No data"{{ input.value }}"</td>
			</tr>
		</table>

		<mat-paginator
			class="demo-paginator"
			(page)="handlePageEvent($event)"
			[pageIndex]="pageIndex"
			[pageSize]="pageSize"
			[hidePageSize]="true"
			[showFirstLastButtons]="true"
			[length]="totalElements"
			aria-label="Select page"
		></mat-paginator>
	</div>
</section>